@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a custom pulse animation */
@keyframes customPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Apply the animation on hover */
.hover\:animate-custom-pulse:hover {
  animation: customPulse 1s infinite;
}

@keyframes pencil {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-pencil {
  animation: pencil 1.5s steps(10, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typing {
  display: inline-block;
  overflow: hidden;
  animation: typing 3s steps(30, end);
  white-space: nowrap;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 5s; /* Adjust duration as needed */
  animation-fill-mode: both;
}

/* Fade In Up Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Adjust the initial Y translation */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 3s; /* Adjust duration as needed */
  animation-fill-mode: both;
}
